* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--clr-bg: hsl(6, 0%, 95%);
	--clr-sidebar: hsla(219, 78%, 28%, 0.568);
	--clr-black: hsl(1, 5%, 10%);
	--clr-Orange: hsl(16, 100%, 66%);
	--clr-Green: hsl(166, 89%, 52%);
	--clr-gray: hsl(0, 0%, 80%);
	--clr-white: hsl(1, 5%, 95%);
	--clr-blue: hsl(210, 45%, 72%);
	--clr-skyblue: hsl(197, 71%, 83%);
	--clr-font: #cfcfcf;
	--clr-font-primary: #48556a;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: var(--clr-bg);
}
/*==========Navbar=============*/
header {
	background-color: var(--clr-black);
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;

	align-items: center;
}
.logo {
	color: var(--clr-white);
}
nav {
	position: absolute;
	background-color: var(--clr-black);
	width: 100%;
	min-height: 100%;
	padding: 40px;
	text-align: center;
	top: 100%;
	left: 0;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}
.toggle-menu {
	display: none;
}
.toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}
.toggle-label span,
.toggle-label span::before,
.toggle-label span::after {
	display: block;
	background-color: var(--clr-white);
	height: 2px;
	width: 2em;
	border-radius: 0.5rem;
	position: relative;
}
.toggle-label span::before,
.toggle-label span::after {
	content: '';
	position: absolute;
}
.toggle-label span::before {
	bottom: 8px;
}
.toggle-label span::after {
	top: 8px;
}

nav ul {
	margin: 0;
	list-style: none;
	padding: 20px;
}
nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}
nav a {
	color: var(--clr-white);
	text-decoration: none;
	font-size: 1rem;
	text-transform: capitalize;
	opacity: 0;
	transition: opacity 1ms ease-in-out;
}
/* nav a:hover {
	background-color: var(--clr-Orange);
	padding: 8px;
	border-radius: 0.5rem;
} */
.toggle-menu:checked ~ nav {
	transform: scale(1, 1);
}
.toggle-menu:checked ~ nav a {
	opacity: 1;
	transition: opacity 3ms ease-in-out 3ms;
}

/*==========Cards=============*/
.container {
	display: grid;
	grid-template-columns: repeat();
	max-width: 1440px;
	margin: 0 auto;
	padding: 10% 3%;
}
/*---------Cards------*/
.card-1 {
	background-color: var(--clr-white);
}
.card-2 {
	background-color: var(--clr-Green);
}
.card-3 {
	background-color: var(--clr-skyblue);
}
.card-4 {
	background-color: var(--clr-gray);
}
.card-5 {
	background-color: var(--clr-white);
	color: var(--clr-font-primary);
}
.card-6 {
	background-color: var(--clr-white);
}

/*========Item=====*/
.item {
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 0.5rem;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
	font-size: 0.9rem;
}

/*========Content=====*/
.content {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.content img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
	border: 1px solid var(--clr-Orange);
}
.content-text p {
	opacity: 50%;
	font-size: 0.9rem;
}
.content .name-text {
	opacity: 100%;
	font-size: 1rem;
}
.item h4 {
	margin-bottom: 1.25rem;
	font-size: 1.2rem;
	font-weight: 500;
}
/*========Media Query Cards=====*/
@media (min-width: 576px) {
	.container,
	.grid-left,
	#top,
	#bottom {
		display: flex;
	}
	#top,
	#bottom {
		flex-basis: 50%;
	}

	.container {
		display: flex;
		max-width: 1400px;
		margin: 0 auto;
	}
	.grid-left {
		flex-direction: column;
		flex-basis: 75%;
	}
	.grid-left .item {
		margin-right: 10px;
	}
	.card-5 {
		flex-basis: 25%;
	}

	.card-1 {
		flex-basis: 65%;
	}
	.card-2 {
		flex-basis: 35%;
	}
	.card-3 {
		flex-basis: 35%;
	}
	.card-4 {
		flex-basis: 65%;
	}
}
/*========Media Query Navbar=====*/
@media screen and (min-width: 576px) {
	.toggle-label {
		display: none;
	}
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}
	.logo {
		grid-column: 2 / 3;
	}
	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav ul {
		display: flex;
	}
	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}
	nav a {
		opacity: 1;
		position: relative;
	}
	nav a::before {
		content: '';
		background-color: var(--clr-Orange);
		display: block;
		height: 3px;
		bottom: -0.45em;
		position: absolute;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transform-origin: left;
		transition: trnsform ease-in-out 250ms;
	}
	nav a:hover::before {
		transform: scale(1, 1);
	}
}
